# System files
.DS_Store

# Environment files
.env

# Output directories
out

# Python cache files
__pycache__/

# IDE-specific files
.vscode/

# Sensitive credentials
credentials.json
token.json

# Virtual environments
venv/
.venv/
.test_venv/

# Python egg files
*.egg-info/
*.egg

# Taskfile
.task